$mediaPC: 1080px;
$mediaPad: 768px;
$mediaMobile: 480px;

$lWidth: 1280px;
$mWidth: 768px;
$sWidth: 100%;

$space: 20px;

$fontFamily: "微软雅黑", "Microsoft Yahei", 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;

$layuiBtnColor: #009688;
$layuiActiveColor: #5FB878;
$layuiNavColor: #393D49;
$layuiHighColor: #1E9FFF;
$layuiTipsColor: #F7B824;
$layuiWarnColor: #FF5722;
$layuiLinkColor: #01AAED;
$layuiFooterColor: #2F4056;
